<!DOCTYPE html>
<html lang="en" data-ng-app="">
    <head>
        <title>Vietnamese Cuisine</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5
        elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the
        page via file:// -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <style>
            p{
                text-align: center;
            }
            .box{
/*
                border: 1px solid black;
                border-collapse: separate;
                border-spacing: 15px;
*/
                outline: 2px solid #CCC;
                border-bottom:1px solid #999;
                background-color: #999;
            }
        </style>
    </head>
    <body>


        <div class="container">
            <div class="row box">
                <div class="col-md-3">
                    <p>1.1 <br/> Logo</p>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xs-9 box">
                            <p>1.2.1.1 <br/> Search</p>
                        </div>
                        <div class="col-xs-3 box">
                            <p>1.2.1.2 <br/>  SignIn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 box">
                            <p>1.2.2.1 <br/> Home</p>
                        </div>
                        <div class="col-md-4 box">
                            <p>1.2.2.2 <br/> Cuisine</p>
                        </div>
                        <div class="col-md-4 box">
                            <p>1.2.2.3 <br/> About Us</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row box">
                <div class="col-lg-12 portfolio-item">
                    <div class="card h-100" style="text-align: center">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/450x300" alt="" style="margin-top: 10px;width: 100%"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Dish 2</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 col-xs-7 box">
                    <p> Comment Input</p>
                </div>

                <div class="col-md-3 col-xs-5 box">
                    <p> Button Post</p>
                </div>
            </div>

            <div class="row box" style="height: 100px">
                <div class="col-md-12">
                    <p> Review lists </p>
                </div>
            </div>

            <div class="row box">
                <div class="col-xs-12">
                    <p>4.1 <br/> Footer</p>
                </div>
            </div>
        </div>

        <!-- jQuery - required for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.12.4.min.js"></script>
        <!-- All Bootstrap plug-ins file -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Basic AngularJS -->
        <script src="js/angular.min.js"></script>
    </body>
</html>
